@font-face {
    font-family: "Inter-Black";
    src: url("fonts/Inter-Black.woff2") format("woff2");
}


body {
    background-color: rgb(255, 201, 232);
    font-family: "Inter-Black", serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.grid-container {
display: grid;
padding: 15px;
gap: 15px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
"name name bio"
". image-2 text-3"
"image-1 image-2 image-3"
"image-1 image-2 image-3"
"image-1 text-2 image-3"
"text-1 . .";
}

.name {
    grid-area: name;
}

.name h1 {
    text-align: center;
    font-size: 90px;
    color: darkgrey;
    margin: 0;
}

.bio {
    grid-area: bio;
    align-self: center;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}


