@font-face {
    font-family: "Inter-Black";
    src: url("fonts/Inter-Black.woff2") format("woff2");
}


body {
    background-image: url("data/Muster.jpg");
    background-attachment: fixed;
    font-family: "Inter-Black", serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

h2 {
    color: rgb(255, 204, 64);
    text-align:right;
    font-size: 100px;
}

p {
    margin: 0;
    color: darkgrey;
    font-size: 20px;
}

/* Hier geht es um das Raster */

.grid-container {
display: grid;
padding: 15px;
gap: 15px;
column-gap: 15px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: 
"schrift schrift schrift schrift schrift bio"
"image-1 image-1 image-2 image-2 . ."
". projectname projectname projectname image-3 image-3"
". . text-1 text-1 image-3 image-3"
"image-4 image-4 image-5 image-5 . ."
}

/* Hier beginnt die Zuordnung zu dem Raster */


.schrift {
    grid-area: schrift;  
    margin: 0;
}

.bio {
    grid-area: bio;
}

.projectname {
    grid-area: projectname;
    margin: 0;
}

.projectname h2 {
    margin: 0;
}


.image-1 {
    grid-area: image-1;
    margin: 0;
}

.image-2 {
    grid-area: image-2;
    margin: 0;
}

.image-3 {
    grid-area: image-3;
    margin: 0;
}

.image-4 {
    grid-area: image-4;
    margin: 0;
}

.image-5 {
    grid-area: image-5;
    margin: 0;
}

.text-1 {
    grid-area: text-1;
    margin: 0;
}


/* Hier endet die Zuordnung zu dem Raster */

